@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.loader {
  &__container {
    @include flex-center;
    @include flex-column;
    gap: $spacing-md;
    padding: $spacing-xl;

    &--fullscreen {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($background-color, 0.9);
      z-index: $z-index-modal;
    }
  }

  &__spinner {
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-top-color: $primary-color;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;

    &--small {
      width: 24px;
      height: 24px;
      border-width: 2px;
    }

    &--medium {
      width: 40px;
      height: 40px;
      border-width: 3px;
    }

    &--large {
      width: 60px;
      height: 60px;
      border-width: 4px;
    }
  }

  &__message {
    color: $text-secondary;
    font-size: $font-size-sm;
  }
}
