@use 'sass:color';
@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.input {
  width: 100%;
  padding: $spacing-md;
  background-color: $surface-color;
  color: $text-primary;
  border: 1px solid transparent;
  border-radius: $border-radius-md;
  font-family: inherit;
  font-size: $font-size-md;
  transition: all $transition-fast;

  @include focus-visible;

  &::placeholder {
    color: $text-secondary;
  }

  &:hover:not(:disabled) {
    border-color: rgba(255, 255, 255, 0.1);
  }

  &:focus {
    border-color: $primary-color;
    background-color: color.adjust($surface-color, $lightness: 3%);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &--error {
    border-color: $error-color;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;

    &--full-width {
      width: 100%;
    }
  }

  &__label {
    font-size: $font-size-sm;
    font-weight: 500;
    color: $text-secondary;
  }

  &__error {
    font-size: $font-size-xs;
    color: $error-color;
  }
}
