@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 $spacing-xl;

  &--default {
    @include respond-to(desktop) {
      max-width: 1280px;
      padding: 0 $spacing-xl;
    }

    @include respond-to(desktop-lg) {
      max-width: 1440px;
    }
  }

  &--fluid {
    max-width: 100%;
  }

  &--narrow {
    @include respond-to(desktop) {
      max-width: 960px;
    }
  }
}
