@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;

  @include respond-to(desktop) {
    padding-left: $spacing-xl;
    padding-right: $spacing-xl;
  }

  &--default {
    @include respond-to(desktop) {
      max-width: 1280px;
    }

    @include respond-to(desktop-lg) {
      max-width: 1440px;
    }
  }

  &--fluid {
    max-width: 100%;
  }

  &--narrow {
    @include respond-to(desktop) {
      max-width: 960px;
    }
  }
}
