@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.page {
  min-height: 100vh;
  
  // Remove top padding/margin when Hero is shown - Hero should be at very top
  &:has(.hero) {
    padding-top: 0;
    margin-top: 0;
  }
  
  
  &__content {
    padding: $spacing-xl 0;
    
    @include respond-to(tablet) {
      padding: $spacing-2xl 0;
    }

    &--with-hero {
      padding-top: $spacing-xl;
    }
  }
  
  &__error {
    @include flex-center;
    min-height: 60vh;
  }
}

